
header{
    border: 1px solid;
    padding: 3em;
    display: flex;
    justify-content: space-between;
    border-radius: 2rem;
    margin: 1em 0.5em;
    background-image: linear-gradient(to left,rgb(34, 33, 33), black);
    box-shadow: 0 0 2em gray;
}
header .provinces{
    display: flex;
    justify-content: space-around;
    width: 15em;
}
body{
    color: white;
    background-color: black;
}


